body{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #1b315b;
    margin: 0;
}

header {
    background-color: #0e1a32;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

#case {
    width: 36px;
}

#name {
    width: 130px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.style-buttons {
    display: flex;
    justify-content: space-between;
    border: 2px solid #0e1a32;
    border-radius: 100px;
    margin-bottom: 8px;
    width: fit-content;
}

.style-buttons button {
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 40px;
    
}

.style-buttons button:hover {
    background-color: #0e1a32;
}

button.active{
    background-color: #0e1a32 !important;
}


#filter {
    margin: 0 8px;
}

#save {
    display: flex;
    font-size: 16px;
    background-color: transparent;
    color: #d2d2d2;
    border: 2px solid #0e1a32;
    padding: 8px;
    border-radius: 8px;
}

#save svg {
    width: 22px;
    fill: #d2d2d2;
}

#save:hover, #save:hover svg{
    background-color: #0e1a32;
}



